<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>종류 선택</title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
    <div class="jumbotron">
        <br>
        <a class="btn btn-primary mb-2" href="/items/new/book">Book</a>
        <a class="btn btn-primary mb-2" href="/items/new/album">Album</a>
        <a class="btn btn-primary mb-2" href="/items/new/movie">Movie</a>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}" />
</div>
</body>
</html>