<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
    }
</style>
<body>
<div class="layout">
    <form action="/member/joinPro" method="post">
        <h2>회원가입</h2>
        ID: <input type="text" name="userId"> <br>
        PW: <input type="password" name="password"> <br>
        NAME: <input type="text" name="username"> <p>
        <button type="submit">가입하기</button>
    </form>

    <a href="/member/login">로그인</a>
</div>
</body>
</html>